@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* PÁGINA LOGIN */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #c8e6c9, #4bc970);	
	font-family: Raleway, sans-serif;	
}

hr {
	color: #050806;
}

.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #e8f5e9, #4bc970);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #388e3c;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #4bc970;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #4bc970, #66bb6a);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #4bc970;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #4bc970;
}

.login__input {
	border: none;
	border-bottom: 2px solid #c8e6c9;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #4bc970;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #c8e6c9;
	text-transform: uppercase;
	font-weight: 700;
	align-items: center;
	width: 50%;
	color: #4bc970;
	box-shadow: 0px 2px 2px #4bc970;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #4bc970;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #4bc970;
}


.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #4bc970;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

/* CADASTRO USUARIO*/

.cadastroUsuario {
	color: #4bc970;
	font-family: Raleway, sans-serif;
	font-weight: bold;
}

/* CALENDARIO */

@import url(https://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
	font-family: Raleway, sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.list-inline-item {
	vertical-align:middle;
}

ol {
	text-align: center;	
	font-weight: bold;
	font-size: 24px;
	padding: 25px;
}

a {
	text-decoration: none;
	color: black;
	font-family: Raleway, sans-serif;
	margin: 10px;
	
}

footer {
	font-family: Raleway, sans-serif;
	padding: 15px;
}

.calendar {
	text-align: center;
	font-family: Raleway, sans-serif;
}

.calendar header {
	position: relative;
}

.calendar h2 {
	text-transform: uppercase;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #050806;
	font-family: Raleway, sans-serif;
}

.calendar tbody td:hover {
	border: 2px solid #2cb655;
}

.calendar td {
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	height: 4em;
	line-height: 3.5em;
	text-align: center;
	width: 4em;
	font-family: Raleway, sans-serif;
}

.calendar .prev-month,
.calendar .next-month {
	color: #8d8f8f;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #4bc970;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #2cb655;
	border-radius: 50%;
	bottom: .5em;
	display: block;
	content: '';
	height: .5em;
	left: 50%;
	margin: -.25em 0 0 -.25em;
	position: absolute;
	width: .5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 2px solid #2cb655;
	border-radius: 50%;
	color: #2cb655;
	height: 2em;
	font-size: .75em;
	line-height: 2em;
	margin: -1em;
	position: absolute;
	top: 50%;
	width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}

.titulo-calendario {
	font-family: Raleway, sans-serif;
	background: #fff;
	font-size: 14px;
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 26px;
}

footer-basic{
	text-align: ce;
}


/********* jean *****/
.calendario {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.dias-extenso, .dias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.dias li {
    padding: 2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 200ms;
}

.dias li:hover {
    background-color: bisque;
    transform: scale3d(1.2, 1.2, 1.2);
}

.dias .nao-mostra {
    opacity: 0;
    user-select: none;
    cursor: default;
}
