<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>

<body>
    <header>
  
        <ul class="list-inline">
    
        <ol>
            <a href="cadastro.html">Cadastrar</a>
            <a href="login.html">Login</a>
            <a href="eventos.html">Evento</a>
            <a href="calendar.html">Calendário</a>
            <a href="logout.html">Logout</a>
        </ol>
    
        <!-- <a class="btn-prev fontawesome-angle-left" href="#"></a>
        <a class="btn-next fontawesome-angle-right" href="#"></a> -->
    
      </header>

    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div class="cadastroUsuario">
                        <h3> CADASTRO DE USUÁRIO </h3>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Nome de Usuário">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Senha">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Cadastrar</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>	
                    <button class="button login__submit">
                        <span class="button__text">Cancelar</span>
                        <i class="button__icon fas fa-chevron-left"></i>
                    </button>			
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <p class="copyright"> +Devs2Blu © 2022</p>
        </footer>
    </div>

</html>