<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title> <!-- Tela de cadastro de Usuário -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>

    <form action="/cadastrar_usuario" method="post">
        <fieldset>

            <div>
                <label for="nome_usuario">Nome de Usuário</label>
                <input type="text" class="" id="nome_usuario" name="nome_usuario" placeholder="Nome de Usuário">
            </div>
            <div>
                <label for="nickname">Nickname</label>
                <input type="text" class="" id="nickname" name="nickname" placeholder="Apelido">
            </div>
            <div>
                <label for="senha_usuario">Senha do Usuário</label>
                <input type="text" class="" id="senha_usuario" name="senha_usuario" placeholder="Senha do Usuário">
            </div>

            <button type="submit">Salvar</button>
            <button type="submit">Cancelar</button><!-- Ver a necessidade do botão cancelar -->

        </fieldset>
    </form>

</body>
</html>