<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title><!-- Tela de cadastro de evento -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>

    <!-- Remover o código anterios -->
    {% extends "template.html" %}
    {% block conteudo %}

    <form action="{{ url_for('criar') }}" method="post">
        <fieldset>

            <div>
                <label for="data_evento">Data</label>
                <input type="date" class="" id="data_evento" name="data_evento" placeholder="Datao"><!-- Pegar a data do calendário -->
            </div>
            <div>
                <label for="titulo">Título</label>
                <input type="text" class="" id="titulo" name="titulo" placeholder="Título do evento">
            </div>
            <div>
                <label for="descricao">Descição</label>
                <textarea class="" id="descricao" name="descricao" placeholder="Descrição"></textarea>
            </div>
            <div>
                <input type="checkbox" id="publico" name="publico" value="false">
                <label for="publico">Público</label>
                <input type="checkbox" id="ativo" name="ativo" value="false">
                <label for="ativo">Ativo</label>
            </div>

            <button type="submit">Salvar</button>
            <button type="submit">Cancelar</button><!-- Ver a necessidade do botão cancelar -->

        </fieldset>
    </form>
    
    {% endblock %}
    <!-- Remover o código posterior -->

</body>
</html>