<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../static/style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
  
    <ul class="list-inline">

    <ol>
        <a href="/cadastro">Cadastrar</a>
        <a href="/login">Login</a>
        <a href="/eventos">Evento</a>
        <a href="/calendar">Calendário</a>
        <a href="/logout">Logout</a>
    </ol>

    <!-- <a class="btn-prev fontawesome-angle-left" href="#"></a>
    <a class="btn-next fontawesome-angle-right" href="#"></a> -->

  </header>

    <div class="container">

        <div class="calendar">
      
          <table>

            <div class="titulo-calendario">
              <h2>Dezembro</h2>
            </div>
              
      
            <thead>
      
              <tr>
      
                <td>Seg</td>
                <td>Ter</td>
                <td>Qua</td>
                <td>Qui</td>
                <td>Sex</td>
                <td>Sab</td>
                <td>Dom</td>
      
              </tr>
      
            </thead>
      
            <tbody>
      
              
              <tr>
                <td class="next-month">28</td>
                <td class="next-month">29</td>
                <td class="next-month">30</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
              </tr>
              <tr>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
              </tr>
              <tr>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
              </tr>
      
              <tr>
                <td>19</td>
                <td >20</td>
                <td class="current-day event">21</td>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td class="event">25</td>
              </tr>
              <tr>
                <td>26</td>
                <td>27</td>
                <td>28</td>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="next-month">1</td>
              </tr>
      
            </tbody>
      
          </table>

          <button class="button login__submit">
            <span class="button__text">Sair</span>
            <i class="button__icon fas fa-chevron-left"></i>
        </button>	
      
        <div class="footer-basic">
            <footer>
                <p class="copyright"> +Devs2Blu © 2022</p>
            </footer>
        </div>

        </div> <!-- end calendar -->
      
      </div> <!-- end container -->
</body>
</html>