<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title><!-- Tela Principal -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

    <header>
        <ul>
            <li><a href="/">Cadastar Usuário</a></li><!-- Rota para cadastra usuário -->
            <li><a href="/listar">Calendário</a></li>
            <li><a href="/login">Trocar de Usuário</a></li>
            <li><a href="/logout">Sair</a></li>
        </ul>
    </header>

    <main>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block conteudo %} {% endblock %}

    </main>

    <footer>
        <ul>
            <li><a href="#">Sobre</a></li>
        </ul>
        <p>+Devs2Blu © 2022</p>
    </footer>
    
</body>
</html>