<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title> <!-- Tela de Login -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
</head>
<body>

    <form action="{{ url_for('autenticar') }}" method="post">
        <fieldset>

            <input type="hidden" name="proximo" value="{{ proximo or url_for('index') }}">

            <div>
                <label for="nome">Nome de Usuário</label>
                <input type="text" class="" id="nome" name="nome" placeholder="Nome de Usuário">
            </div>
            <div">
                <label for="senha">Senha</label>
                <input type="password" class="" id="senha" name="senha" placeholder="Senha">
            </div>

            <button type="submit" class="">Salvar</button>

        </fieldset>
    </form>
    
</body>
</html>