{% extends "index.html" %}
{% block conteudo %}

    <div class="container" id="main-area">

        <div class="container" id="conteudo-titulo">
            <div class="text-center">
                <h1 class="my-3">Agenda de eventos</h1>
                <div class="row justify-content-center">
                    <p class="col-8">Preços incríveis para todos os seus eventos, assine qualquer um de nossos planos.</p>
                </div>
            </div>
        </div><!-- container -->
        <div class="container" id="conteudo-cartao">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="text-center mb-5">Conheça nossos planos de assinaturas</h3>
                </div><!-- col-12 -->
                <div class="col-md-3 mb-3">
                    <div class="card text-center border-primary" id="card-primary">
                        <div class="card-header">Grátis</div>
                        <div class="card-body text-primary">
                            <h2 class="card-title">R$ 0,00 / mês</h2>
                            <p class="card-text">Cadastre-se de graça, soluções gratuítas para sua agenda.</p>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>100 eventos</li>
                                <li>Suporte por email</li>
                                <li>Acesso ao centro de ajuda</li>
                            </ul>
                            <button type="button" class="btn btn-md btn-primary" onclick = "window.location.href='/registro';">Registre-se</button>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col-3 -->
                <div class="col-md-3 mb-5">
                    <div class="card text-center border-success" id="card-success">
                        <div class="card-header">Básico</div>
                        <div class="card-body text-success">
                            <h2 class="card-title">R$ 9,90 / mês</h2>
                            <p class="card-text">Descubra novas possibilidades, venha conhecer</p>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>200 eventos</li>
                                <li>Suporte por email prioritário</li>
                                <li>Acesso ao centro de ajuda</li>
                            </ul>
                            <button type="button" class="btn btn-md btn-success" onclick = "window.location.href='/registro';">Conhecer</button>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col-3 -->
                <div class="col-md-3 mb-5">
                    <div class="card text-center border-warning" id="card-warning">
                        <div class="card-header">Premiun</div>
                        <div class="card-body text-warning">
                            <h2 class="card-title">R$ 29,90 / mês</h2>
                            <p class="card-text">Soluções personalizadas de alto impacto para o seu evento</p>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>Ilimitados</li>
                                <li>Suporte por email e telefone</li>
                                <li>Acesso ao centro de ajuda</li>
                            </ul>
                            <button type="button" class="btn btn-md btn-warning" onclick = "window.location.href='/registro';">Contate-nos</button>
                        </div><!-- card-body -->
                    </div><!-- card -->
                </div><!-- col-3 -->
            </div><!-- row -->
        </div><!-- container -->

    </div><!-- main-area -->
        
{% endblock %}