{% extends "index.html" %}
{% block conteudo %}

        <main class="container">

            <div class="card-group">

                <div class="card border-primary p-3" style="max-width: 18rem;">
                    <div class="card-header">Grátis</div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">R$ 0,00 por mês</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                    <p class="btn btn-primary"><a href="/registro">Registre-se</a></p>
                </div>

                <div class="card border-success p-3" style="max-width: 18rem;">
                    <div class="card-header">Básico</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">R$ 9,90 por mês</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                    <p class="btn btn-success"><a href="/registro">Registre-se</a></p>
                </div>

                <div class="card border-warning p-3" style="max-width: 18rem;">
                    <div class="card-header">Premiun</div>
                    <div class="card-body text-warning">
                        <h5 class="card-title">R$ 29,90 por mês</h5>
                        <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                    </div>
                    <p class="btn btn-warning"><a href="/registro">Registre-se</a></p>
                </div>
            
            </div>

        </main>
        
{% endblock %}