{% extends "index.html" %}
{% block conteudo %}

    <div class="container" id="main-area">

        <div class="container" id="conteudo-titulo">
            <div class="text-center">
                <h2 class="my-3">Sua lista de eventos</h2>
                <div class="row justify-content-center">
                    <p class="col-8">Visualise a tabela de eventos para não esquecer de seus compromissos. Além do mais, você pode editá-los ou deletá-los.</p>
                </div>
            </div>
        </div><!-- container -->
        <div class="container" id="conteudo-lista_eventos">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Título</th>
                    <th scope="col" colspan="2">Descrição</th>
                </tr>
                </thead>
                <tbody>

                    {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.data_evento }}</td>
                        <td>{{ evento.titulo }}</td>
                        <td>{{ evento.descricao }}</td>
                    
                        <td>
                            <a class="btn btn-success btn-sm" href="{{ url_for('editar_evento', id=evento.id_evento ) }}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{{ url_for('deletar_evento', id=evento.id_evento ) }}">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div>
                    <button type="button" class="btn btn-md btn-primary my-3 mx-3" onclick = "window.location.href='/calendario';">Voltar</button>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
