{% extends "index.html" %}
{% block conteudo %}

    <div class="container" id="main-area">

        <div class="container" id="conteudo-titulo">
            <div class="text-center">
                <h2 class="my-3">Editor de perfil do usuário</h2>
                <div class="row justify-content-center">
                    <p class="col-8">Mantenha seu cadastro sempre atualizado. Além do mais, voçê pode remover seu perfil de usuário.</p>
                </div>
            </div>
        </div><!-- container -->
        <div class="container" id="conteudo-perfil">
            <div class="row align-items-center">
                <div class="col-md-10 mx-auto col-lg-5">
                    <form class="p-4 p-md-5 border rounded bg-light" action="{{ url_for('atualizar_perfil') }}" method="post">

                        <input type="hidden" name="n_id" value="{{ perfil.id_usuario }}">

                        <div class="form mb-3">
                            <label for="i_nome">Nome Completo</label>
                            <input type="text" class="form-control" id="i_nome" name="n_nome" value="{{ perfil.nome }}">
                        </div>
                        <div class="col-5 form mb-3">
                            <label for="i_data_nascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" id="i_data_nascimento" name="n_data_nascimento" value="{{ perfil.data_nascimento }}">
                        </div>
                        <div class="col-5 form mb-3">
                            <label for="i_cpf">C.P.F.</label>
                            <input type="text" class="form-control" id="i_cpf" name="n_cpf" value="{{ perfil.cpf }}">
                        </div>
                        <div class="col-6 form mb-3">
                            <label for="i_username">Nickname</label>
                            <input type="text" class="form-control" id="i_username" name="n_username" value="{{ perfil.username }}">
                        </div>
                        <div class="col-6 form mb-3">
                            <label for="i_senha">Senha</label>
                            <input type="password" class="form-control" id="i_senha" name="n_senha" value="{{ perfil.senha }}">
                        </div>
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a class="btn btn-danger" href="{{ url_for('deletar_perfil', id=perfil.id_usuario ) }}">Deletar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}